{{ partial "header" . }}

<main>

      <div class="hero_image" >
        <!-- <div style="position:absolute; z-index:10;">
          <h1 style="margin:1em auto;">This should be your slogan!</h1>
        </div> -->
        <img src="\Stock Images\upScaledContainers2.jpg" class="img-responsive" alt="container ship" >
      </div>

      <div class="container" style="padding:0;" >
        <div class="row" style="margin-left:0; margin-right:0;" >
          <div class="col-sm-6 text-center">
            <p style="margin:5em 1em;">{{ markdownify .Site.Params.frontpageDescription }}</p>
          </div>
          <div class="col-sm-6" style="height:25em;">
            <img style="margin:5em auto;" src="\flag.png" class="img-responsive" alt="kenyan flag" >
          </div>
        </div>
        <div class="row" style="margin-left:0; margin-right:0;">
          <div class="col-sm-12" style="background-color:red; height:0.5em;">
          </div>
        </div>
        <div class="row" style="margin-left:0; margin-right:0;">
          <div class="col-sm-6">
              <img style="margin:5em auto; height:25em;" src="\Stock Images\StockSnap_27D9PQ26RJ.jpg" class="img-responsive" alt="container ship" >
          </div>
          <div class="col-sm-6" >
            <p style="margin:5em auto;">{{ markdownify .Site.Params.frontpageElaboration }}</p>
          </div>
        </div>
      </div>


</main>

{{ partial "footer" . }}
