{{ partial "header" . }}

<main>

  <div class="container" >
    <div class="row" >
      <div class="col-xs-12" >
        {{ .Content }}
      </div>
    <div class="row" >
      <div class="col-xs-6" >
        <img style="margin:5em auto; height:25em;" src="\Stock Images\StockSnap_CMFLFVFD9L.jpg" class="img-responsive" alt="container ship" >
      </div>
      <div class="col-xs-6">
        <h2>Life</h2>
        <p>Some Text Here</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" >
        <img style="margin:5em auto; height:25em;" src="\Stock Images\Modern grandmother EveryPixel.com.jpg" class="img-responsive" alt="container ship" >
      </div>
      <div class="col-xs-6">
        <h2>Health</h2>
        <p>Some Text Here</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" >
        <img style="margin:5em auto; height:25em;" src="\Stock Images\shipping-1078102_960_720.jpg" class="img-responsive" alt="container ship" >
      </div>
      <div class="col-xs-6">
        <h2>Accident</h2>
        <p>Some Text Here</p>
      </div>
    </div>
  </div>
  </div>

</main>

{{ partial "footer" . }}
