{{ partial "header" . }}

<main>
  <div class="container">
        <div class="row featurette" style="margin-top:2em;">
          <div class="col-md-7">
            <h1 class="featurette-heading">Procurement<br><span class="text-muted">How do we get our products?</span></h1>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Beans and Rice Bags" src="\Stock Images\StockSnap_U2OWEI2S84.jpg" data-holder-rendered="true">
          </div>
        </div>
      <hr class="featurette-divider">
  </div>



</main>

{{ partial "footer" . }}
