{{ partial "header" . }}

<main>
  <div class="container">
        <div class="row featurette">
          <div class="col-md-7 matchHeight">
            <h1 class="featurette-heading">Procurement<br><span class="text-muted">Need our products?</span></h1>
            <p class="lead">
              Our procurement consultants work with customers to find new or used equipment to match their needs.<br>
              We help purchase bulk procurements of houseware, clothes, electronincs and farm or construction equipment.
            </p>
          </div>
          <div class="col-md-5 matchHeight">
            <img class="featurette-image img-responsive center-block" alt="" src="\Stock Images\StockSnap_IA1A0DATOJ.jpg" data-holder-rendered="true">
          </div>
        </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5 matchHeight">
          <p class="lead">
            Customers are updated during every step of the procurement and delivery process.  <br> 
            We give customers are their choice of brand and manufacturer when choosing manufacturing or agricultural equipment.
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7 matchHeight">
          <img class="featurette-image img-responsive center-block" src="\Stock Images\StockSnap_3GYWTHCYVC.jpg" alt="excavator" >
        </div>
      </div>
  </div>



</main>

{{ partial "footer" . }}
